
#login_bg {
    width: 100%; 
    height: 100%; 
    position: absolute; 
    left: 0px; 
    top: 0px; 
    z-index: 0;
}

.stretch {
    width:100%;
    height:100%;
}

.login-header {
	background: #990000!important;
	margin-bottom: -1px;
	/*border-top-left-radius: 5px;
	border-top-right-radius: 5px;*/
}

.login-header h5 {
	color: #ffffff;
	font-weight: bold;
}

.top-bar, 
.top-bar .top-bar-section .left li a, 
.top-bar .top-bar-section .right li a
{
	background: #990000!important;
	/*
	font-family: Impact,Haettenschweiler,Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black,sans serif;*/
}

.top-bar .top-bar-section .left li a, 
.top-bar .top-bar-section .right li a
{
	font-size: 14px;
	font-weight: bold;
}

.breadcrumbs {
	padding: 0.795rem 0.875rem;
}

fieldset legend {
	background: transparent;
}

.breadcrumbs > * a {
	color: #990000;
}

button.alert, 
.button.alert {
	background-color: #990000;
	border-color: #990000;
}

button.alert:hover, 
button.alert:focus, 
.button.alert:hover,
.button.alert:focus {
	background-color: #990000;
}

a:hover, 
a:focus {
	color: #990000;
}

a {
	color: #990000;
}

ul.pagination li.current a, 
ul.pagination li.current button {
	background-color: #990000;
}

ul.pagination li.current a:hover, 
ul.pagination li.current button:hover,
ul.pagination li.current a:focus, 
ul.pagination li.current button:focus {
	background-color: #990000;
}
.top{
	padding-top: 10px;
}